@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

section {
  background-color: #3f51b5;
}

.pricing {
  width: 100%;
  max-width: 980px;
  padding: 5rem 0.875rem;
  margin: 0 auto;
}

.pricing-top {
  color: #fff;
  text-align: center;
}

.pricing-top h1 {
  margin: 0 8rem;
  margin-bottom: 1rem;
  letter-spacing: 0.3rem;
}

.pricing-top p {
  margin: 0 8rem;
  opacity: 0.7;
}

.pricing-items {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
}

.pricing-item {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
}

.pricing-item h3 {
  color: #29d9c2;
  font-size: 1.3rem;
  letter-spacing: 0, 1rem;
  margin-bottom: 0.5rem;
}

.pricingItem-price {
  padding: 2rem 0;
  font-weight: bold;
}

.pricingItem-price .price {
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

.pricingItem-price .dollar {
  font-size: 2rem;
  vertical-align: top;
}

.pricingItem-price .period {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: red;
}

.pricingItem-info {
  list-style: none;
  color: gray;
  padding-bottom: 2rem;
}

.pricingItem-info li {
  margin-bottom: 0.3rem;
}

.pricing-item button {
  background-color: #29d9c2;
  outline: none;
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 2rem;
  color: #fff;
}

.pricing-item button:hover {
  background-color: #111;
  color: #fff;
  cursor: pointer;
}
